.popular-container {
    background-color: #333333; /* 배경 색 */
    padding: 20px; /* 여백 설정 */
    display: flex; /* flexbox 레이아웃 설정 */
    justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    gap: 10px; /* 버튼 간 간격 설정 */
}


/* 버튼 공통 스타일 */
.view-button {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    padding: 5px 20px;
    background-color: #555555;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 880px) {
    .view-button {
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        padding: 0px 5px;
        background-color: #555555;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-size: 13px;
    }


    .popular-container {
        background-color: #333333; /* 배경 색 */
        padding: 0px 5px; /* 여백 설정 */
        display: flex; /* flexbox 레이아웃 설정 */
        justify-content: center; /* 가로 정렬 */
        align-items: center; /* 세로 정렬 */
        gap: 10px; /* 버튼 간 간격 설정 */
    }
}
