.scroll-horizontal {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox 전용 */
    scroll-behavior: smooth; /* 부드러운 스크롤 동작 */
}

.scroll-vertical {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox 전용 */
    scroll-behavior: smooth; /* 부드러운 스크롤 동작 */
    height: 1260px
}

@media (max-width: 1640px) and (orientation: landscape) {
    .scroll-vertical {
        overflow-y: auto;
        scrollbar-width: none; /* Firefox 전용 */
        scroll-behavior: smooth; /* 부드러운 스크롤 동작 */
        height: 850px
    }
}

@media (max-width: 880px) and (orientation: portrait) {
    .scroll-vertical {
        overflow-y: auto;
        scrollbar-width: none; /* Firefox 전용 */
        scroll-behavior: smooth; /* 부드러운 스크롤 동작 */
        height: 850px
    }
}